.grid-container {
    width: 85%;
    max-width: 1000px;
    min-width: 500px;
    margin: 0 auto;
    background: #0D0D0D;
    display: grid;
    grid-template-areas:
    'header header'
    'image image'
    'main main'
    'footer footer';
    grid-auto-rows: auto;
}
h2, h3{
    margin: 0;
}
.grid-main{
    display: grid;
    grid-area: main;
    grid-template-areas:
    'text aside';
    grid-template-columns: 80% 20%;
    grid-auto-rows: auto;
}
.grid-header{
    display: grid;
    grid-area: header;
    grid-template-areas:
    'title nav';
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
}
.item1 {
    grid-area: title;
}
.item2 {
    grid-area: image;
} 
.item3 {
    grid-area: text;
}
.item4 {
    grid-area: aside;
}
.item5 {
    grid-area: footer;
}
.item6 {
    grid-area: nav;
}
body{
    background-color: #737373;
    color: #4789ee;
    text-align: center;
}